
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark  fixed-top">
        <div class="container-fluid">
          <fd-shellbar-logo>
            <a href="#" class="fd-shellbar__logo fd-shellbar__logo--image-replaced" aria-label="SAP"></a>
            <a class="navbar-brand" href="#"></a>
          </fd-shellbar-logo>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="color: white; background-color: transparent;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">BOQ App</h5>
              <!-- <button type="button" class="" style="color: white;"  data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="pi pi-times"></i>
              </button> -->
              <button type="button"  data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="pi pi-times"></i> 
            </button>
            </div>
            <!-- #050616 -->
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                  <li class="nav-item" >
                    <a class="nav-link active" aria-current="page" routerLink="/tendering-data">Tendering BOQ Creation</a>
                  </li>
              </ul>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
 
                <ng-container *ngIf="isAuthenticated; else loginLink">
                  <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
                  </li>
                </ng-container>
                <ng-template #loginLink>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                  </li>
                </ng-template>

                <!-- <li class="nav-item"  >
                  <a class="nav-link active" aria-current="page" routerLink="/tendering">Exit</a>
                </li> -->
              </ul> 
            </div>
          </div>
        </div>
      </nav>