<div class="landing">
  <div class="landing-content">
    <div class="row w-100">

      <div class="col-12 col-md-6 mb-4">
        <h1>Welcome to Our BOQ Tendering App!</h1>
        <p>Your content goes here. You can add more details about your services or features.</p>
        <h2>Featured Services</h2>
        <ul>
          <li>Service 1</li>
          <li>Service 2</li>
          <li>Service 3</li>
        </ul>
        <h1 class="d-block">
          Find, access and <br>
          show more details <span class="vector"> Easily</span>
        </h1>
        <button class="btn login-button" (click)="navigateLoginPage()">Login</button>
      </div>

      <div class="col-12 col-md-6 px-0 g-0">
        <div class="image">
          <img src="../../assets/images/SAP2.jfif" class="img-fluid rounded animated-image" alt="SAP">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="landing ">
  <div class="landing-content  ">
    <div class="row w-100 ">

      <div class=" col-sm-12 col-md-6 mb-4">
        <h1>Welcome to Our BOQ Tendering App!</h1>
        <p>Your content goes here. You can add more details about your services or features.</p>
        <h2>Featured Services</h2>
        <ul>
          <li>Service 1</li>
          <li>Service 2</li>
          <li>Service 3</li>
        </ul>
        <h1 class="d-block">
          Find, access and <br>
          show more details <span class="vector"> Easily
          </span>
        </h1>
        <button class="btn login-button" (click)="navigateLoginPage()">Login</button>

      </div>

      <div class="col-sm-12 col-md-6  px-0 g-0">
        <div class="image ">
          <img src="../../assets/images/SAP2.jfif" class="w-100 rounded animated-image" alt="SAP">
        </div>
      </div>
    </div>
  </div>
</div> -->




